/* =========================================
HEADER
============================================ */

header{
	background-image: url("../../assets/main-image.png");
}

.top__header{
	display: flex;
	border-bottom: 1px double white;
}

.header__nav{
	display: flex;
  li a{
		padding: 5px;
		margin: 5px;
	}
}

.header__logo{
	margin-right: auto;
}

.hamburger{
	display: none;
}

.search{
	background-color: $pink;
	border-radius: 50%;
	padding: 5px;
}

.header__main{
	display: flex;
	justify-content: space-between;
}





#countdown{
	display: flex
}