/* =========================================
ABOUT
============================================ */

.about__cards{
	display: flex;
	margin: 0 auto;
}

.about__card{
	width: calc(33.33% - 20px);
	margin: 20px;

	img{
		width: 100%;
	}
}

.about__card--text{
	padding: 10px;
}

.section__subheading::after{
	content: "";
	display: block;
	height: 1px;
	width: 5rem;
	border-bottom: 1px solid $pink;
	margin: 3rem auto 4rem;
}