/* =========================================
HEADER
============================================ */

header{
	background-image: url("../assets/main-image.png");
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.header__top{
	display: flex;
	align-items: center;
	border-bottom: 2px double $medgrey;
	padding: 5px;
}

.header__nav{
	display: flex;
  li a{
		padding: 5px;
		margin: 5px;
	}
}

.header__logo{
	margin-right: auto;
}

.hamburger{
	display: none;
}

.search{
	background-color: $pink;
	border-radius: 50%;
	padding: 8px;
	display: block;
}

.header__main{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__inner{
	text-align: center;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;



}

.arrow{
background-color: rgba(255, 255, 255, 0.3);
padding: 25px 10px;
}


/* ------------  COUNTDOWN  ------------ */

#countdown{
	background-color: $grey;
}

.countdown__container{
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.countdown__text{
max-width: 250px;
}


.countdown__clock{
	display: flex;
}

.days,
.hours,
.minutes,
.seconds{
	div{
		color: white;
		display: inline-block;
		border-radius: 5px;
		background-color: $darkgrey;
		padding: 10px;
		margin: 0 5px 5px;
		font-family: $paragraph;
		font-weight: 600;
		font-size: 1.6rem;

	}
}