/* =========================================
HEADER
============================================ */

header{
	background-image: url("../assets/main-image.png");
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	max-height: 800px;
}

.header__top{
	display: flex;
	align-items: center;
	border-bottom: 4px double $medgrey;
	padding: 10px;
}

.header__nav{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;

	@include mq(sm){
		display: none;
	}
  li a{
		padding: 5px;
		margin: 7px;

		@include mq(lg){
			margin-bottom: 10px;
		}
	}
}

.header__logo{
	margin-right: auto;
	max-width: 100px;
}

.search{
	background-color: $pink;
	border-radius: 50%;
	padding: 8px;
	display: block;
}

.header__main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80vh;
}

.header__inner{
	text-align: center;
	display: flex;
	margin: 20px 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.arrow{
	background-color: rgba(255, 255, 255, 0.3);
	padding: 30px 15px;
}

.fa-chevron-left,
.fa-chevron-right{
	font-size: 1.4rem;
}

/* ------------  HAMBURGER MENU  ------------ */

.hamburger{
	font-size: 2.2rem;
	margin-right: 15px;
	display: none;

	@include mq(sm){
		display:block;
	}
}

.hamburger__visible{

	@include mq(sm){
	display: block;
	position: absolute;
	top: 67px;
	right: 0;
	width: 100vw;
	height: calc(100vh - 75px);
	flex-direction: column;
	justify-content: center;
	background: rgba(0, 0, 0, 0.95);
	border: 1px solid black;
	padding-top: 40px;
		li{
			font-size: 2.4rem;
			margin: 15px;
			text-align: center;
		}
	}
}

/* ------------  COUNTDOWN  ------------ */

#countdown{
	background-color: $grey;
	padding-bottom: 50px;
}

.countdown__container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.countdown__text{
	max-width: 250px;
}

.countdown__clock{
	display: flex;
	flex-flow: row wrap;
}

.nums{
	display: flex;
	flex-direction: row nowrap;
}

.number{
	color: white;
	border-radius: 3px;
	background-color: $darkgrey;
	height: 45px;
	width: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2px 5px;
	font-family: $paragraph;
	font-weight: 600;
	font-size: 1.6rem;
	}


.colon{
	margin: 8px 5px;
}

.countdown__buttons{
	@media(max-width: 360px){
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		
			.button{
			width: 160px;
			margin: 10px;
		}
	}
}