/* =========================================
QUOTES SECTION
============================================ */

#quotes{
	background-color: $purple;

		@media(max-width: 800px){
		padding-top: 30px;
	}

		@media(max-width: 500px){
		padding-top: 50px;
	}
}

.quotes{
	display: flex;
	justify-content: flex-start;

	@media(max-width: 800px){
		flex-direction: column;
	}
}

.quotes__images{
	width: 8%;

	@media(max-width: 800px){
		width: 80%;
		margin: 0px auto 20px;
		display: flex;
	}

	@media(max-width: 500px){
		display: none;
	}
}

.quote__image--container{
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}

		@media(max-width: 800px){
		width: 15%;
		margin: 20px auto;
		}

	img{
		border: 5px solid transparent;
		border-radius: 50%;
		transition: border 0.3s ease-in-out;
		&:hover{
			border: 5px solid $white;
			box-shadow: 0 0 1rem $grey;
		}
	}
}

.quote{
	width: 50%;
		@media(max-width: 800px){
		width: 80%;
		margin: 0 auto;
	}
}

.quote__icon{
	margin: -35px 40px 0;
		@media(max-width: 800px){
		display: none;
	}
}