/* =========================================
EVENTS SCHEDULE
============================================ */

#schedule{
	background-color: $grey;
}

.schedule__content{
	display: flex;
	align-items: center;
	width: 80%;
	margin: 0 auto;

	@media(max-width: 800px){
		flex-direction: column;
	}
}

.schedule__days{
	display: flex;
	flex-direction: column;
	width: 35%;
	li{
		padding: 15px 30px;
		p{
			margin: 0;
		}
		@media(max-width: 800px){
			padding: 15px;
		}
		@media(max-width: 630px){
			padding: 10px;
		}
	}
		@media(max-width: 800px){
		flex-direction: row;
		width: 90%;
		justify-content: center;
	}
	@media(max-width: 630px){
		flex-direction: column;
		width: 100%;
	}
}

.schedule__button{
	border: 1px solid #e0e0e0;
	background-color: white;
	transition: all .2s ease-in-out;
	min-width: 150px;
	&:hover{
		background-color: $pink;
		transform: scale(1.03);
	}

}

.dottedlines{
	border-style: dashed;
	border-color: $medgrey;
	border-width: 1px 0px 1px 1px;
	width: 50px;
	height: 300px;
	margin: 0 30px;

	@include mq(lg){
		display:none;
	}
}

.dotted--top{
	border-bottom: 1px dashed $medgrey;
	height: 50%;
}

.speaker{
	display: flex;
	flex-grow: 3;
		@media(max-width: 800px){
		border: 1px dashed #ececec;
		margin-top: 15px;
		padding: 10px;
	}

	&:hover .speaker__image-container{
		transform: scale(1.1);
	}

	@media(max-width: 630px){
	flex-direction: column;
	}
}

.speaker__image-container{
	width: 15%;
	margin-top: 15px;
	margin-right: 15px;
	transition: all .3s ease-in-out;

	img{
		border-radius: 50%;
		border: 7px solid #ececec;
		width: 100%;
		min-width: 90px;
	}
		@include mq(lg){
		margin: 15px;
	}
}

.speaker__text{
	margin: 10px;
}