/* =========================================
TYPOGRAPHY
============================================ */

$heading: 'Poppins', sans-serif;
$paragraph: 'Raleway', sans-serif;


h1{
	font-family: $heading;
}