/* =========================================
TYPOGRAPHY
============================================ */

$heading: 'Raleway', sans-serif;
$paragraph: 'Poppins', sans-serif;


a{
	color: inherit;
	text-decoration: none;
}

h1{
	font-family: $heading;
	text-transform: uppercase;
	font-size: 4.4rem;

		@media(max-width: 815px){
		margin-top: 0;
	}

		@include mq(med){
		font-size: 3rem;
	}
}

p{
	font-family: $paragraph;
	font-size: 1.4rem;
	line-height: 1.6;
}

.section__heading{
	font-family: $heading;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
	font-size: 3.6rem;
	margin-top: 0;



		@include mq(med){
		width: 80%;
		margin: 0 auto;
	}
}

.section__subheading{
	font-style: italic;
	font-family: $paragraph;
	text-align: center;
	color: $medgrey;

	@include mq(med){
		width: 80%;
		margin: 10px auto 0;
	}
}


/* ------------  HEADER  ------------ */

#header{
	color: white;
}

.header__nav li{
	text-transform: uppercase;
	font-family: $heading;
	font-size: 1.6rem;
	margin-bottom: 5px;
	&:hover{
		color: $pink;
	}
}

.title__date{
	font-style: italic;
	text-align: center;
	font-size: 2.2rem;
	font-weight: 400;
	color: white;

	@media(max-width: 815px){
		margin: 5px;
	}
	@include mq(med){
		font-size: 1.8rem;
	}
}

.countdown__heading,
.countdown__date{
	font-family: $heading;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5;
}

.countdown__heading{
	font-size: 2.4rem;
	margin: 0 0 10px;
}

.countdown__date{
	font-size: 1.4rem;
	margin: 0;
}
	
.days,
.hours,
.minutes,
.seconds{
	p{
		margin-left: 3px;
		margin-top: 0px;
		font-size: 1.6rem;
		color: #777;
		text-transform: uppercase;
	}
}

/* ------------  ABOUT  ------------ */

.about__card{
	text-align: left;
}

.about__card--heading{
	text-transform: uppercase;
	font-family: $heading;
	font-size: 1.5rem;
}

.about--link{
	color: $pink;
	font-style: italic;
	font-family: $paragraph;
	font-size: 1.4rem;
	&:hover{ color: $purple;
	}
}

/* ------------  NEWSLETTERS  ------------ */

#newsletter-1{
	color: $white;
	text-align: center;
}

.newsletter--text{
	color: $white;
}

.newsletter-2__heading{
	text-align: center;
	font-size: 2.8rem;
	font-weight: 600;
	color: $black;
	font-family: $heading;
	margin-top: 0;
}

/* ------------  SPEAKERS  ------------ */

.speaker__card--bio{
	color: $medgrey;
}

.speaker--bio--name{
	color: $black;
}

/* ------------  PRICING  ------------ */

#pricing{
	color: white;
	.section__subheading{
		color: white;
	}
}

.pricing__card{
	color: black;
	text-align: center;
}

.pricing__title{
	font-family: $paragraph;
	font-size: 2rem;
	margin-top: 0;
	font-weight: 400;
		@include mq(med){
		font-size: 2.4rem;
	}
}

.pricing__subtitle{
	font-family: $paragraph;
	font-size: 1.4rem;
	color: $medgrey;
		@include mq(med){
		font-size: 1.6rem;
	}
}

.pricing__price{
	font-family: $paragraph;
	color: $medgrey;

}

.dollarsign{
	position:relative;
	top: -10px;
		@include mq(med){
		font-size: 2rem;
	}
}

.price{
	color: black;
	font-size: 2.4rem;

	@include mq(med){
		font-size: 4rem;
	}
}

.pricing__details li{
	border-bottom: 1px dashed $medgrey;
	color: $medgrey;
	font-size: 1.4rem;
	padding: 10px;
	font-family: $paragraph;
	color: $medgrey;
}

.pricing__details li:last-child{
	border-bottom: none;
}

/* ------------  SCHEDULE  ------------ */



.schedule__button--date{
	color: $medgrey;
	font-size: 1.3rem;
}

.schedule__button--day{
	color: black;
	font-size: 1.8rem;
}

.schedule__button:hover .schedule__button--date,
.schedule__button:hover .schedule__button--day{
	color: white;
}

.speaker--name{
	font-size: 1.4rem;
	color: $darkgrey;
	margin: 0;
	font-family: $heading;
}

.speaker--time{
	font-size: 1.4rem;
	color: $medgrey;
	display: inline-block;
	margin-left: 10px;
	font-family: $heading;
}

.speaker--headline{
	font-family: $heading;
	font-size: 1.8rem;
	font-weight: bold;
	margin: 5px 0;
	font-family: $heading;
	line-height: 1.3;
}

.speaker__blurb{
	margin: 0;
	font-family: $heading;
}


/* ------------  QUOTES  ------------ */

#quotes{
	color: $grey;
}

.quote__quoteicon{
	font-size: 11rem;
	font-family: 'PlantangenetCherokee';
	margin-top: 0;
}

.quote--title{
	font-family: $heading;
	font-size: 3rem;
	line-height: 4.6rem;
	margin-top: 0;

}

.quote--content,
.quote--job{
	font-family: $paragraph;
	color: #bfb9f6;
	font-size: 1.7rem;
	font-style: italic;
	line-height: 2.8rem;
	margin: 0;
}

.quote--author{
	font-family: $heading;
	font-size: 1.8rem;
	font-weight: 600;

}

/* ------------  NEWS  ------------ */

.news--title{
font-family: $heading;
font-size: 2rem;
font-weight: 600;
margin-top: 0;
}

.news--author{
	font-size: 1.2rem;
	color: #ababab;
}


.link--text{
	font-family: $heading;
	font-size: 18px;
	line-height: 26px;
	margin-top: 10px;
	display: inline-block;
	}
/* ------------  FOOTER  ------------ */

.footer__contact{
	color: $grey;
	display: flex;
	align-items: center;
	justify-content: center;
}


.contact--text{
	color: $medgrey;
	p{
		margin: 5px;
	}
}

.footer__menu{
	color: white;
}

.fakelink{
	color: $pink;
}

.footer__nav{
	color: $medgrey;
	li{
		font-size: 1.4rem;
	}
}