/* =========================================
UTILITIES
============================================ */

.shadow{
	box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
}

.button{
	color: white;
	border-radius: 5px;
	min-width: 150px;
	background-color: $pink;
	padding: 10px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-family: $heading;
	font-size: 1.6rem;
	font-weight: 600;
	border: 2px solid $pink;
	transition: all .3s ease-in-out;
}

.button:hover{
	background-color: $grey;;
	color: $pink;
	border: 2px solid $pink;
}

.button-sib{
	background-color: $purple;
	margin-left: 10px;
	border: 2px solid $purple;
	transition: all .3s ease-in-out;
	&:hover{
		border: 2px solid $purple;
		color: $purple;
	}
}

.button-news{
	margin: 5px 0;
	position: relative;
}


.section__subheading::after{
	content:v"";
	width: 10px;
	height: 1px;
	color: $pink;
	margin: 10px auto;
}