/* =========================================
UTILITIES
============================================ */

.shadow{
	box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
}

.countdown__buttons{
	color: white;
	margin: 10px;
}

.button{
	color: white;
	border-radius: 5px;
	min-width: 214px;
	background-color: $pink;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-family: $heading;
	font-size: 1.6rem;
	font-weight: 600;
}

.section__subheading::after{
	content:"";
	width: 10px;
	height: 1px;
	color: $pink;
	margin: 10px auto;
}