/* =========================================
VARIABLES & MIXINS
============================================ */

/* ------------  COLORS  ------------ */

$pink: #e85889;
$purple: #463f8c;
$grey: #fafafa;
$darkgrey: #1b1b1b;
$white: white;
$black: black;


/* -------  RESPONSIVE MEDIA QUERIES  --------- */

